@import url('https://fonts.googleapis.com/css2?family=Winky+Sans&display=swap');

body {
  font-family: 'Winky Sans', sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  color: #333;
}
